[2014-10-27 14:27] smee opened #1 "Question: Why focus-i?"
Hi,

I tried to understand the use of [focus-i](https://github.com/nupic-community/comportex/blob/master/src/cljx/org/nfrac/comportex/columns.cljx#L121). It seems to increase with the `col` value. I thought it designates the focused column in the input topology around which we then will choose `:ff-potential-radius` percent of nodes as potential synapse targets. But why can't line [126](https://gi

[2014-10-28 08:42] #1 closed, assigned to nobody

[2014-11-07 19:02] mrcslws opened #2 "REPL improvement: Implement toString for RegionNetwork"
When a RegionNetwork's value is returned to the REPL, I'm immediately filled with regret :)

On the REPL [wiki page](https://github.com/nupic-community/comportex/wiki/A-sample-workflow-with-the-REPL), I dodged this by immediately `def`ing it.

[code]

But it would be nice if I could just do `(htm-step model)` and get quick, comprehensible output. Some sort of summary. That'd make it easier to expl

[2014-12-03 02:11] floybix opened #8 "distal synapse connections from remote cells/input bits"
Currently distal synapses refer to a source cell in the same layer. Need to allow the source to be an input bit either from below (motor) or above (feedback) in the hierarchy.

So the source set will become a set of integers which can be mapped back to local cells and/or input bits.

I'm working on this now.

[2014-12-03 17:30] mrcslws opened #9 "You can't create a 2-region model with a 3D topology"
`(require '[org.nfrac.comportex.demos.isolated-2d :as demo])`
`(demo/n-region-model 2)`
==>
NullPointerException from `clojure.lang.Numbers/add`

Fewer than 3 dimensions are getting passed into `ThreeDTopology/index_of_coordinates`

Before 5a860d8b590552ccdd2531134f65c103020aa80b, this code would cause a stack overflow, so this is just another layer of the onion.

I'm tentatively exploring the iss

[2014-12-04 07:11] #2 closed, assigned to nobody

[2014-12-04 13:39] #8 closed, assigned to nobody

[2014-12-05 06:04] mrcslws opened #12 "Separate REPL code from HTM logic, stop forcing autoload, still make autoload convenient"
Tentative plan:
- Move logic from `core.cljx` to `/comportex/src/org/nfrac/comportex/repl.cljx`
- Stop enabling truncation automatically in library code. Require a function call.
- Create `/comportex/dev/user.clj`. Make it autoload truncation.

This opens the REPL code to other consumers (making `user.clj` simply a consumer of the API that anyone else can use)

[2014-12-06 03:38] #12 closed, assigned to nobody

[2015-01-11 13:41] LudoTheHUN opened #14 "Readme out of date..."
Hi.

I'm trying to follow through on the readme examples as per here: https://github.com/nupic-community/comportex/wiki/A-sample-workflow-with-the-REPL

I think some names have changed, eg:

[code]

should now be:

[code]

Keep up the good work!

[2015-05-26 18:48] mrcslws opened #16 "q_learning_1d demo showing "nth not supported" error in tgt->i arg destructuring"
FYI, I think this regressed in a recent comportex commit. I verified that my viz pull requests didn't cause this before I submitted them :). This was working recently.

I'm seeing the error when trying this demo in comportexviz.

[2015-05-27 03:39] floybix commented on #16
Thanks, fixed in ffd1c6ebe98dbb3a975dfb1e1a59c4755341427c

[2015-05-27 03:39] #16 closed

[2015-05-27 18:59] kristianmandrup opened #18 "Just getting started - cljc files?"
Hi, I'm just getting started with Clojure and NuPIC via clortex and comportex.

I can't seem to figure out how to get editor support for the `.cljc` files. I'm using Lighttable.
Any suggestions? Thanks :)

[2015-05-28 02:33] floybix commented on #18
Hi

I think you can put this in your user.behaviors

 [:files :lt.objs.files/file-types [{:exts [:cljc], :mime "text/x-clojure",
:tags [:editor.clj :editor.clojure], :name "Cljc"}]]

On Thursday, May 28, 2015, Kristian Mandrup <notifications@github.com>
wrote:

--
Felix Andrews / 安福立
http://www.neurofractal.org/felix/

[2015-05-28 13:41] kristianmandrup commented on #18
Thanks a lot @floybix :)

[2015-05-28 13:41] #18 closed

[2015-06-24 07:48] floybix opened #19 "separated and serializable encoders"
Encoders are the only things in Comportex HTM values that are not serializable. We should fix that so that models can be saved or sent over the wire.

Currently they are created using `(reify)` which makes a closure. But the main problem is how they get their particular data inputs out of the general, amorphous input-value provided to `htm-step`. That is using `pre-transform` which applies some ar

[2015-06-24 13:07] cogmission commented on #19
Isn't an Encoder a stateless entity? Why bother serializing it (if you're talking about state)? Seems the only state is configuration variables which should be "packaged" externally so that they are "re-appliable", that way you can just instantiate an encoder at the endpoint and serialize the parameters and just send those - re-applying the parameters locally to the instantiated Encoder?

Notice t

[2015-06-24 14:43] floybix commented on #19
Hi David, interesting question.

So the information, as you rightly point out, is
more like configuration than mutable state. It defines which encoders are
used and how they are combined. Then each encoder will have parameters such
as width/onbits/min/max in a linear scalar encoder.

In Clojure, any object, such as an encoder, is just a map with keyword
keys, and tagged with its type, so when you

[2015-06-25 08:19] floybix opened #20 "caching in encoders"
Some encoders run non-trivial computations: currently the coordinate encoder and unique (random) encoder. We should cache the results for performance.

For JVM there is the very nice `core.cache` with a choice of expiry strategies: https://github.com/clojure/core.cache/

There doesn't seem to be a good clojurescript port, but it would be easy to pull out LRUCache from https://github.com/clojure/co

[2015-06-27 04:42] floybix opened #21 "lazy-growing synapse graph"
HTM model creation can be extremely slow. The time goes into creating the huge proximal synapse graphs containing all potential connections.

The problem of explicitly representing full potential synapse graphs is more acute in higher level layers because their input -- from cell layers -- is extremely sparse: column activation of 2% with depth 20 = 0.1% (except when bursting). With such sparsity,

[2015-06-27 05:08] cogmission commented on #21
I know Jeff once described it as having the consistency of tapioca, but are there any papers which describe biologically what happens with interregional communication that could perhaps provide a hint?

Sent from my iPhone

[2015-06-30 09:54] floybix opened #22 "better hash / random number generator"
Random numbers are used:
1. to generate initial proximal (potential) synapse connections;
2. to sub-sample from active cells when growing dendrites;
3. in unique encoder (each distinct input given a unique bit set);
4. in coordinate encoder (coordinates' priorities and corresponding bits);
5. in some of the example input generators.

The encoder uses require deterministic (seeded) random numbers.

[2015-07-05 09:00] floybix opened #23 "naming things"
Proposed namespaces:

* `layer` - renamed from current `cells`
* stuff in current `columns` should be moved to `layer`
  - and possibly a new ns `homeostasis` (just algorithms, similar to `inhibition`)
* `hierarchy` (or `architecture` / `network`) - renamed from current `core`
* `geometry` (or `topography`) - renamed from current `topology`
* a new ns `api` (or `core`)
  - with javascript and java

[2015-07-05 09:04] floybix commented on #20
Noting that even if input aren't likely to repeat, it is still worth caching encoded output because in ComportexViz additional encode operations are called when drawing.

[2015-08-21 03:20] floybix opened #24 "testing / validation strategy"
We should have some better automated tests. But avoiding the unproductive mess of lots of naive example-based tests.

Thinking specifically of
* validating structure of function arguments and return values, perhaps using [Herbert](https://github.com/miner/herbert)
* property-based testing, using [test.check](https://github.com/clojure/test.check). This would work particularly well for encoders I t

[2015-08-21 04:44] floybix opened #25 "learning functions more like STDP"
We know that synaptic connections are reinforced if the source cell fires just before target (LTP) and punished if the reverse occurs - target fires before source (LTD).

Currently only the LTP part is implemented, by selecting sources active on the previous time step to a target cell.

I am not sure how sequence learning should happen in a pooling layer. Because cells can remain active for many t

[2015-08-21 12:10] rcrowder commented on #25
@floybix Could this be related to pre-synaptic inhibition. Reading Spratling an co.'s work on "Pre-integration lateral inhibition enhances unsupervised learning", for example. Or Fergal's pre-pooler feedback twist?

http://www.inf.kcl.ac.uk/staff/mike/publications.html

[2015-08-22 02:27] floybix commented on #25
@rcrowder Fascinating reading, thanks (will take me a while to absorb it). The author claims is it just as biologically plausible as the usual post-integration lateral inhibition. But I would like to know what neuroscience experts think of it (and now, a decade after publication). Surely there is evidence on such a fundamental mechanism... Anyway, even if it is not biologically accurate, it may tu

[2015-08-22 11:45] cogmission commented on #25
Hi Guys!

Felix, I'm curious, what is the state of the art with the "sequence
learning in a temporal-pooling layer" you are currently wrestling with?

Cheers,
David

On Fri, Aug 21, 2015 at 9:27 PM, Felix Andrews <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.j

[2015-08-22 14:20] floybix commented on #25
@cogmission to be honest I don't know. Numenta people are doing various things probably including this, but as far as I know they don't have a working solution yet.

[2015-08-22 15:09] floybix commented on #19
Encoders should probably be decomplected from the core functioning of a HTM network.

Let's call a network node representing encoded input a Sensor. It doesn't need to know about an encoder, only its resulting bit-set. Sensor nodes in a network could simply be containers holding bit-sets. We could define `p/htm-activate-raw` taking bit-sets to assign to each Sensor node, rather than a domain-relat

[2015-08-24 01:31] floybix commented on #19
On second thought, the term "Sensor" wrongly suggests that it does its own encoding. A better name is "Sense".

Another question that arises is: should Senses define in themselves whether they provide proximal or distal inputs (as currently), or alternatively should Regions declare each of their inputs to be either proximal or distal (and Sense outputs be available for either purpose)? In other wo

[2015-08-24 06:56] mrcslws commented on #19
Just so I'm clear... is the SensingNetwork separate from the RegionNetwork? Would it be something like

[code]

or are the inputs being recorded in an atom somewhere? I suspect I'm not interpreting this correctly.

I like "Sense". That name resonates with me. And removing encoders from the RegionNetwork definitely sounds like a good idea since we'll probably never stop creating encoders via higher

[2015-08-24 07:12] floybix commented on #19
Interesting that you say "we'll probably never stop creating encoders via higher-order functions"... as I was just about to have a go at doing that (as in original description of this issue). Do you see a problem?

My current idea is not to have a SensingNetwork, rather encoders would be stored in a RegionNetwork but treated separately. Like this:

[code]

A RegionNetwork would gain keys `:encoder

[2015-08-24 07:28] mrcslws commented on #19
Good call, I should have scrolled up. Ok, so no more passing arbitrary values as inputs. Only those that our `defrecord` encoders can handle. I can live with that.

[2015-08-26 03:13] floybix commented on #19
I started implementing the proposal above in the demos but it felt wrong. It makes the representation of the world be twisted into a shape required by particular encoders.

For example, in demo `coordinates-2d` the world is represented like
[code]
i.e. position, velocity, acceleration. And the world is updated each time step by a function that operates on this in a natural way. But with the new pr

[2015-08-26 03:41] mrcslws commented on #19
Would the model hold on to the selector and the encoder separately? Or would we use something like a higher-level encoder to `get-in` the value?

I'm thinking we should keep them separate. Otherwise using `p/decode` within the model would become weird.

So it'd be in the `region-network` params, either a `sense->path` or maybe making `sensory-encoders` use a  `[sense [path encoder]]` format.

[2015-08-26 04:04] floybix commented on #19
Ah, you mean it would be weird because what you pass to `p/encode` would be a different shape to what you get out of `p/decode`. Yes I see.

I kind of like having an encoder as a self-contained object though. And you couldn't in general switch an encoder without also changing its selector.

What if the `PEncoder` protocol had a method `extract` which returns the encodable value from the world valu

[2015-08-26 05:02] floybix commented on #19
Names help. If I think of a _sensor_ as a `[selector encoder]` then I'm willing to have them defined in user code and passed as arguments.

Whether the `selector` should satisfy a protocol or just be a `get-in` path, I'm not sure.

[2015-08-26 06:02] floybix commented on #19
Actually this separation makes it awkward to combine sensors. Say we have `{:position 42, :colour "red"}` and we want to concatenate an encoding of the number from `:position` and the category from `:colour`.

Individually they would be
[code]

But to concatenate them?
[code]

Whereas if the selector was encapsulated in an encoder one could write

[code]

That said, I'm not sure there is any reaso

[2015-08-26 12:07] floybix commented on #19
My last complaint can be disregarded. In practice one would want to concatenate sensors, so we can have a function `(e/sensor-cat)` which just applies `e/juxt` and `e/encat` as above.

You've convinced me of the need for a `PExtractor` protocol. Thanks!

[2015-08-28 05:31] #19 closed

[2015-09-22 16:17] #22 closed

[2015-09-27 07:11] floybix opened #31 "random selection of learning cells from bursting columns"
In bursting columns, the winner / learning cell is selected by maximum total excitation (including a penalty on cells with inactive segments, to encourage efficient use of all cells).

Currently ties are broken by keeping the first. The problem with this is, a set of blank columns bursting in
* context A will each end up with cell 0 learning,
* context B will each end up with cell 1 learning,
* co

[2015-09-27 14:09] #31 closed

[2015-10-02 08:05] floybix commented on #25
If we take STDP seriously then the potentiation and depression effects should be symmetric:
![STDP](http://www.scholarpedia.org/w/images/thumb/6/6a/STDP-Fig1.JPEG/500px-STDP-Fig1.JPEG)
(While we are not dealing with individual spikes, HTM cell activation presumably represents some aggregated function of spikes.)

A problem with current LTP-only learning approach is that cells can learn/grow connec

[2015-10-03 06:58] robjfr opened #33 "Suggestion to try "substitution" or "context" pooling"
I've been nagging Felix about trying what I call substitution/context pooling. This is based on the intuition I've posted about in the NuPIC-theory thread below and elsewhere:

http://lists.numenta.org/pipermail/nupic-theory_lists.numenta.org/2015-September/003191.html

"Intuitively, something which has identity, a pooled state, should be something which is independent of its environment. Which is

[2015-10-03 11:09] cogmission commented on #33
@robjfr Did hell just freeze over? :)  Rob Freeman on Github!? Welcome!!!

[2015-10-03 11:12] cogmission commented on #33
@robjfr Can I offer my go-to response? Are you suggesting we insert an overt managing mechanism with no biological plausibility deep within an HTM? :-P

[2015-10-03 12:02] robjfr commented on #33
@cogmission Hi David. On Github? My projects all precede Github :-)

Re. "an overt managing mechanism with no biological plausibility deep within an HTM?"

FWIW I think this all fits perfectly with any biological evidence. At this point the implementation is just spreading activation in a network. Making it natural for a network is the whole issue. My vector implementation works. We now want to fi

[2015-10-05 01:58] robjfr commented on #33
I've been looking at Felix's experiment with spreading activation to count paths (commit above.) It gets some nice results, but there's a problem with spreading activation that loops and gives high scores to repeated sequences.

Thinking about it, you could say this is because retreating to column states we've thrown away all context. A repeated state is the same state.

Maybe I was wrong to persu

[2015-10-05 07:34] floybix commented on #33
Just considering identity, not generalisation, to begin with.

I'm not clear how we could use multi-contextual columns to define pooling boundaries. I asked this on the mailing list before: http://lists.numenta.org/pipermail/nupic-theory_lists.numenta.org/2015-September/003194.html

In your diagram example you propose that the sequence `seq` should be pooled given the input
[code]
The start of thi

[2015-10-05 11:58] robjfr commented on #33
@floybix. I probably should sleep on this. But here's an unpolished version anyway. According to the "release early, release often" principle.

I think the same answer still applies. We still want to use the same parameters. I just think there is a better way to access them.

My answer to your question above was that we can't base a segmentation decision on a single state, we need to consider path

[2015-10-06 02:02] floybix commented on #33
Trying to get my head around your distance metrics (or dispersal / branching values?). Do you mean, taking each cell activation instance to have these properties:
* the column (an integer id);
* the set of specific cells it was activated by -- the context;
* and of course, the timestep.

Using these, perform a clustering of timesteps with a distance/proximity metric that is between two extremes:
*

[2015-10-06 03:08] robjfr commented on #33
Yes. That sounds right.

I don't see us identifying these clusters as such in the output at all at this point. Not in the sense of identifying them with a label, anyway. Rather I see us presenting clusters (of input states?) directly, as a kind of "tag cloud".

Here's what I'm thinking the output might look like:

We could plot clouds across the sequence dimension. At the moment you plot everythin

[2015-10-06 03:17] robjfr commented on #33
Actually, rather than plotting both context and identity as clouds across the sequence, and having a hard threshold to split them out of the cloud into sequence again, it would probably make more sense to plot column sensitivity across the sequence, and cell sensitivity along the sequence. Duh :-) That way more context sensitive states would naturally spread along the sequence as you increased con

[2015-10-06 23:36] floybix commented on #33
I couldn't see how that "tag cloud" with sensitivity sliders could work. Maybe you meant a force-directed graph layout or projection modified to include sequence information. And what exactly are the sensitivity parameters in relation to a distance metric.

Anyway I added a table below the "Cell-SDRs plot" which records all the inputs in sequence, and for each time step, lists a version of your tw

[2015-10-07 02:29] robjfr commented on #33
I ran the simple_sentences demo with input:

a b c a b c a b c x y z a b c a b c a b c

Your values for your new table were as follows:

	   diversity of contexts input appears in	    number of inputs appearing in this context
    b                    	0.00                  		                  	0
    c	                  	0.45                  	                  		2
    a	                  	0.87

[2015-10-07 04:47] floybix commented on #33
The "x" row listed 2 inputs occuring in its context; its context being
a,b,c. Context here is only the prior context, not the following context.

I added an enumeration of the contexts and alternatives for the selected
state. Maybe that will help to clarify.

I see, it sounds like you want a kind of force-directed graph layout. To be
honest I'm not sure what it would give us. What information do w

[2015-10-07 05:30] robjfr commented on #33
You're right about the dimensions. Pushing everything to 2D is artificial. Even column clusterings will have many many dimensions.

But I think the combination of columns and context should allow us to reduce the dimensions to a manageable level for each particular case. After all, at the limit we can always reduce our data to the single dimension of a single sequence, in the order it was presente

[2015-10-07 06:36] floybix commented on #33
I think you are misunderstanding how context is represented in HTM. It does not represent history arbitrarily far back. Whenever we hit an unpredicted state the columns burst, opening up all predictions. If the following state is one of those predictions, then we are in that context. So in "`a b c a b c`" we burst on the first 4 states, up to and including "`a`", then enter a known context with "`

[2015-10-07 08:34] robjfr commented on #33
There used to be context sensitivity which extended further back in a sequence. That is what is now called "old" TP!

It may have been conceived differently, as a way of getting a more stable representation for longer sequences, but I certainly don't think anyone is going to claim long distance context dependencies are biologically implausible.

I don't think context extending back exactly one dis

[2015-10-07 08:55] floybix commented on #33
Sure, I agree with your theory of meaning based on substitutions, and you've explained it well. Gradually absorbing the implications... this might take me a while. Thanks for your patience.

[2015-10-09 01:52] robjfr commented on #33
@floybix  Perhaps this should be a separate "issue", but how are sequences of states represented now (in pooling?) It strikes me that a sequence of states could be represented as below.

Cell states predict sequence, but they should also be able to distinguish sequence. You might represent a whole sequence of column states as a single merged column state, with sequences between original sub-states

[2015-10-09 02:27] floybix commented on #33
That's just what I'm working on now: how to represent the full context in a sequence, defining what I call "context space". But rather than doing a union within the same layer, I am looking at an accumulation of states in a higher level layer, which supplies context via feedback connections.

A higher-level / pooled representation can be "decoded" in the sense of entraining the lower layer into re

[2015-10-09 02:45] mrcslws commented on #33
I'm still catching up, at my own pace and in my own style (currently rereading On Intelligence).

Your "replaying the original sequence" brought this passage to mind:

You can imagine a lower layer recounting details in a story while the higher layer navigates the high-level plot events. And sometimes the lower layer stumbles onto something that suddenly hijacks the higher layer (a tangent).

[2015-10-09 03:55] robjfr commented on #33
@floybix
I agree a pooled representation of this kind should have its own layer. Though the form of the pooled layer would be exactly the same as the one representing each sequential input. The only difference between the pooled and the current state layer would be that in the pooled layer successively activated states would remain active, and the total state be cumulative (forming a more slowly c

[2015-10-09 04:43] robjfr commented on #33
Perhaps I should emphasize: just one layer, but with some kind of "amplifier" applied to it (to reduce the sensitivity to contexts.)

And that I'm suggesting this can give us a model for "thinking"(! as opposed to just remembering, or even strict pattern recognition, here we're creating new patterns): merging column representations on reduced sensitivity to context.

[2015-10-09 12:37] robjfr commented on #33
By the way Felix. If you don't want to limit yourself to abstract sequences of symbols when testing this, it might be interesting to try data in the form of successive visual saccade fixations. The merging of column representations with reduction in context sensitivity for sequences of these images as the "eye" travels back and forth over the visual field, might have direct interpretation as actua

[2015-10-25 09:08] floybix opened #34 "select cells consistently, esp. when beginning sequences"
When beginning a sequence (or after a sequence reset/break), there is no distal input, so no basis for choosing a winner/learning cell in each column. Cells are then chosen at random.

That random selection is a problem because when the same sequence is presented several times (in isolation) they will begin on different cells; and will consequently not reinforce previous learning, but will have pa

[2015-10-25 10:15] robjfr commented on #34
You may be right. I think this is what I was referring to as the need for "consolidation" across contexts: cells would need to be consolidated to the columns they predict before we judge whether they indicate similar contexts.

Setting to a consistent cell would solve this.

But it did occur to me that there might be an advantage in having different cells for the same context at different location

[2015-10-25 14:21] cogmission commented on #34
Felix!

I'm going to quote your thoughts and share them with NuPIC Community - this is true and a very insightful realization. Do you mind? This is the kind of stuff that I was talking about previously that shouldn't get lost and will inevitably get lost if it's not shared...

Cheers,
David

Sent from my iPhone

[2015-10-25 14:28] cogmission commented on #34
I'll wait for your response before sharing, just in case you have another
plan in mind. But I am scared this kind of stuff will be lost or worse,
others in the community will waste time duplicating your insights?

Cheers,
David

On Sun, Oct 25, 2015 at 9:21 AM, David Ray <cognitionmission@gmail.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.

[2015-10-25 14:37] cogmission commented on #34
Here's an idea. Maybe some insight can be gained from the fact that a
"reset" is an unnatural occurrence? The neocortex doesn't have
"meta-knowledge" of the sequences its seeing, so there must be some
distinguishing function at play to indicate a new sequence as opposed to
one that is merely being continued? And maybe understanding that will yield
some insight on the process of training cells for

[2015-10-25 14:55] floybix commented on #34
@cogmission I don't have a problem with you sharing this, although at this stage my statement of the problem and my proposals aren't really backed up with evidence.

Not sure I agree with you that resets are unnatural. I think that's what happens when you shift attention.

[2015-10-25 15:09] floybix commented on #34
@cogmission ah yes I see what you mean. Even within a period of unbroken attention, one can distinguish parts, even out of context. That seems to be a higher-level property like temporal pooling. Whether appropriate cell selection is best thought of as a _prerequisite_, or a _consequence_, of temporal pooling: I'm not sure.

[2015-10-25 15:25] cogmission commented on #34
Ok. But I don't think you have to wait to present your "suspicions" or
ideas to the community. There is obviously something to think about here.
Even if you think this through as thoroughly as you want, there may still
be something someone else can contribute, that maybe your understanding
prevents you from seeing? I agree that it may not even be a disadvantage or
represent a "problem" necessarily

[2015-10-25 19:14] mrcslws commented on #34
Idea: do both. e.g. maybe select two cells.

One of them represents the possibility that this is the beginning of a new sequence. The other represents the possibility that it's a continuation of the current sequence.

It's similar to the Escher-like perspective switches that Rob talks about. Let both be true for a while, until one of them fizzles out.

A useful example ("use full exam pull") is di

[2015-10-26 17:06] fergalbyrne commented on #34
We just asked Subutai on the Challenge Hangout. In NuPIC all cells in the initial active columns A become active, so prediction is passed to all second time step cells. Whichever feedforward input comes in next will use all A cells to learn from.

[2015-10-26 17:18] cogmission commented on #34
Fergal, I think it will select the best matching cell of those  - to learn
from:

Here's the poignant line in temporal_memory.burstColumns()

https://github.com/numenta/nupic/blob/f06bed0931aa3879fcd18da91e2526df8d314476/src/nupic/research/temporal_memory.py#L288

On Mon, Oct 26, 2015 at 12:06 PM, Fergal Byrne <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Arc

[2015-10-26 17:22] mrcslws commented on #34
David, I think you're referring to the "learning" cells. Fergal, I think you're referring to the "learnable" cells. Both NuPIC and Comportex select the best match for the "learning" cell. But Comportex goes on to use that as the "learnable" cell in the next time step, whereas NuPIC treats all previously active cells as "learnable".

(I'm still forming my thoughts on this, just wanted to untangle t

[2015-10-26 17:23] mrcslws commented on #34
In other words, what Fergal said makes sense.

[2015-10-26 17:34] cogmission commented on #34
Please explain the difference between "learn-(ing)" and "learn-(able)" as
used in Comportex, because I don't think NuPIC has an allegory for that?

The learn(ing) cell in NuPIC is the Cell chosen either:
1. from cells called "best matching" which have a "threshold" or greater
number of connecting segments. In Felix's inquiry this would be the cell
which portends the selection of the sequence being

[2015-10-26 17:38] cogmission commented on #34
Sorry, please substitute the word "Synapse" for "Segment" above where it
says, "...greater number of connecting segments"

On Mon, Oct 26, 2015 at 12:34 PM, cogmission (David Ray) <
cognitionmission@gmail.com> wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http:/

[2015-10-26 18:58] fergalbyrne commented on #34
Ok, that's a good distinction. In step 2, NuPIC treats all step 1 active bursting cells as potential precursors (learnable), and so builds the best predictive connection back to step 1 using all of them. This is the correct approach, since at time 1 we have no context - that's what reset() means. This will build a distribution of predictability from reset()-step 1-step 2 which depends on what has

[2015-10-26 19:45] cogmission commented on #34
Hi Fergal,

From what I reason, your first paragraph rings true for me, and is aligned
with my previous explanation. I'm not sure about the second paragraph where
you are talking about percentages of predicted capital letters (I was
looking for the setup for using these letters in some example, are they on
the github issue and not among the emails being mailed out)?

You guys might also want more

[2015-10-26 19:56] fergalbyrne commented on #34
Hi David,
We're only talking about what happens after a reset(). There are no predictions following a reset(), that's what it's for.

[2015-10-26 20:03] cogmission commented on #34
Right. Then the "activeCells" (predictive in "t - 1") are empty and that
part of Burst does nothing...

On Mon, Oct 26, 2015 at 2:56 PM, Fergal Byrne <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Sponsor of:  HTM.java <https://github.com/numenta/htm.java>

d.ray@cortical.io
http://cortical.io

[2015-10-27 01:17] floybix commented on #34
Morning...

After reading the NuPIC code, I think that (second sentence) is not entirely correct.

And this was a rephrasing of the same thing, so also not correct. (I contend that NuPIC and Comportex have the same basic treatment of learnable cells).

There are two parts to learning: growing new synapses, and reinforcing existing synapses. Reinforcement does apply to synapses from all bursting ce

[2015-10-27 02:09] cogmission commented on #34
Hi Felix,

I guess the question is whether you are introducing a scenario that hasn't
been accounted for? And if it is unhandled in one or both codebases?
Subutai seems to think (if I may paraphrase his point), (and I agree) that
a burst following a reset will not result in a random cell being selected
to learn a sequence on unless there are no other cells which pass the
learnable candidate requir

[2015-10-27 02:41] floybix commented on #34
@cogmission just the scenario I laid out in the original issue description. There can be no "bestMatchingCell" directly after a reset because there is no distal excitation. So the winner cells chosen in each column after a reset will be random (and in fact, biased away from any existing segments). And on the next step, new synapses grow only to those (random) winner cells.

[2015-10-27 04:09] cogmission commented on #34
Hi Felix,

Yep you're right...

The code is really hard to keep track of, but after combing through it a
bunch of times, I finally see that you are right about what results in a
"best matching cell" in NuPIC also, since the best match in NuPIC depends
on the intersection between cells from active feed-forward columns from the
SP, and previouslyActiveCells from previouslyPredictedColumns. After res

[2015-10-27 06:45] floybix commented on #34
I'm reminded of @mrcslws's "flippant suggestion" in [his essay](http://mrcslws.com/gorilla/?path=hotgym.clj#first_order_predictions):

i.e. instead of picking a single random winner as the representative to learn from, grow synapses to all active cells. Effectively treating all cells in bursting columns as "winners" (therefore learnable) in the case where there are no partial matches. If there are

[2015-10-27 10:40] rcrowder commented on #34
I wonder if Alex @BoltzmannBrain is currently looking at this, in regard to Marcus's comment?

[2015-10-27 18:56] mrcslws commented on #34
From the essay, the idea of "connections from cells to columns" would apply to bursting columns, as Felix mentions, but it would also apply to non-bursting columns. In the essay I held this up as a way of learning first-order sequences, but actually it's a way of learning sequences that start with the previous input. The sequences might be first-order, or they might be longer.

My [comment above](

[2015-10-28 04:52] BoltzmannBrain commented on #34
@rcrowder I'm just now catching up on this discussion; echoing David's suggestion, the nupic discuss listserve would be a much better forum. Are you asking if a possible mechanism would be to grow synapses to all cells in a column, and then later prune such that one remains as the "learning" cell? This does not seem like a biologically accurate approach to me.

[2015-10-28 06:44] mrcslws commented on #34
For bursting columns that wouldn't be too radical. But yes, doing it for bursting and non-bursting columns was roughly the "flippant suggestion" from [my essay](http://mrcslws.com/gorilla/?path=hotgym.clj). I'd never bring this up on the mailing list without testing it. Untested solutions are a dime a dozen.

Also, that idea was intentionally ugly, leaving room for it to resolve into a biologicall

[2015-10-29 07:18] floybix commented on #34
Essentially, the point is that it makes no sense to assign a random selection of cells after a reset because it can never be reproduced. It is a meaningless signal to learn. An example (I just ran) is the sequence of letters "hello hello hello hello hello" with resets between each word. If you do this with random cell selection (and with initial distal permanence below the connected threshold) the

[2015-10-29 07:20] #34 closed

[2015-10-29 07:51] floybix commented on #34
@subutai you might want to consider a similar change to NuPIC's `temporal_memory.py`.

[2015-10-29 10:21] cogmission commented on #34
@subutai This is crucial. I agree whole heartedly. @rhyolight is you be
listening? :-P

We must account for this:
https://github.com/numenta/nupic/blob/master/src/nupic/research/temporal_memory.py#L530

The point that following a reset, and given the absence of
prevPredictedCells; down through getBestMatchingCell >
getBestMatchingSegment > getLeastUsedCell... we chose a random cell to
represent th

[2015-10-29 15:34] subutai commented on #34
@cogmission Is this the same issue you and Fergal discussed at the hangout on Monday? It sounds like it. If so, I don't believe it is an issue in temporal_memory.py. @floybix We could discuss this at the community meet up on the 13th? Please don't look at TP.py or TP10x.py - that implements a very different (hacky) algorithm (see Chetan's presentation from a couple of hackathons ago).

[2015-10-29 15:40] cogmission commented on #34
Hi @subutai,

Yep, same one - but after combing the code, it in fact looks like an issue.
We'd have to trace the code together for me to point it out, its not the
easiest to see - took me a while...

Cheers,
David

On Thu, Oct 29, 2015 at 10:34 AM, Subutai Ahmad <notifications@github.com>
wrote:

--
*With kind regards,*

David Ray
Java Solutions Architect

*Cortical.io <http://cortical.io/>*
Spons

[2015-10-29 15:53] subutai commented on #34
@cogmission It is best to do this on a whiteboard - very difficult to do in github comment fields. One other criterion is that we should be able to come up with simple test cases that demonstrate the failure using temporal_memory.py in NuPIC.  Do such tests exist for this change? That would help me understand the need for core algorithm changes.

[2015-10-29 16:20] cogmission commented on #34
@subutai I agree, It's a pain in the butt to type out minutiae painstakingly. :-P
Also, @floybix can point this out too - since he's the one who uncovered this - though I don't know how comfortable he is in the Python world either?

I think a test for this can be easily written. We train a sequence and save the learning cell. Then we call reset, and then train the same sequence - we will see that

[2015-10-29 16:41] subutai commented on #34
That's not a sufficient test. We have to show that it is actually not performing well by some measure. Is it missing some predictions that it should otherwise make? Is it taking longer than it should? Is it making some other error?

[2015-10-29 17:22] cogmission commented on #34
I think @floybix was the one making qualitative assessments. I simply verified that the condition existed for myself, and attempted to communicate that. Beyond that, I couldn't say whether it results in attenuated behavior or not - that's up to you? I just thought that there being a "theoretical" problem, (which I would assume the training of multiple learning cells for the same sequence - would b

[2015-10-30 00:26] floybix commented on #34
@subutai A test is the sequence of letters "hello hello hello hello hello" with resets between each word. If you do this with random cell selection (and with initial distal permanence below the connected threshold) then it never predicts the transition from "h" to "e".

But yeah, we can talk about it at the meetup if you want.

[2015-10-30 00:37] subutai commented on #34
@floybix I don't believe this is true. The routine `bestMatchingSegment` will pick the same winner cell each time in the "e" columns. This is true even if initial permanences are below the connected threshold. It won't ever get to the condition where it selects a random winner cell.

[2015-10-30 00:43] floybix commented on #34
@subutai but the "h" cells are different every time (random, because of the
reset), so this is a completely new SDR, it won't match any segments on "e"
columns.

On Friday, 30 October 2015, Subutai Ahmad <notifications@github.com> wrote:

--
Felix Andrews / 安福立
http://www.neurofractal.org/felix/

[2015-10-30 01:03] floybix commented on #34
@subutati sorry that was unclear. Yes you are right that it will pick the
same winner cell each time in the "e" columns. Because all the "h" columns
are bursting. But because the "h" winners are different each time, the
synapses won't be reinforced, so it never gets above the connected
threshold, thus, "e" is never predicted.

On 30 October 2015 at 08:43, Felix Andrews <felix@nfrac.org> wrote:

--

[2015-10-30 01:06] robjfr commented on #34
@floybix If I understand the discussion, it sounds like bursting should reset predicted cells, but not predicting cells.

[2015-10-30 01:11] robjfr commented on #34
If predictions grow connections to the columns they predict, those connections should remain, even if the column bursts, should they not?

[2015-10-30 01:13] floybix commented on #34
@robjfr No, you're not understanding; bursting doesn't cause a reset, rather a reset causes bursting.

This is all about when we impose a "reset" - a break to completely separate some new input from what came before. An edge case, really.

[2015-10-30 02:17] cogmission commented on #34
@subutai @floybix

The segment from ```bestMatchingSegment``` for the "h" columns are always null because there are no prevActiveCells following a reset. This results in ```bestMatchingCell``` calling ```getLeastUsedCell``` which randomly picks from the ff-active cells the cell with the least segments (thus biasing away from any highly trained "h" cell).

Because of this:
[code]

The compute cycle

[2015-10-30 02:41] robjfr commented on #34
@floybix Ah, thanks. I was confusing "reset" with "bursting".

Perhaps the underlying problem is that a "reset" is not very biologically plausible in the first place (is it?)

If it is just a fix to simplify in the short term, I guess that gives wide scope to implement it however convenient, in the knowledge that eventually it will not matter because resets will not occur.

But I'm probably off ta

[2015-10-30 02:48] rhyolight commented on #34
@robjfr said:

Yes, this.

To everyone else, we're going to be together in a few weeks. This is certainly better placed on a whiteboard and we'll have lots of time there. I know Subutai has at least two talks to prepare for on top of his regular duties (one of those talks is for the HTM Challenge :wink:). Can we hold off on this conversation?

Also, @robjfr can you make it to the [community meetup

[2015-10-30 03:06] robjfr commented on #34
Unlikely @rhyolight But thanks for the welcome.

[2015-10-30 16:21] subutai commented on #34
Ah I see. The logic is that permanence updates only use the previously "active" state. When you add new synapses you use the winner cells. So synapses will get reinforced and it will get above threshold. The downside is that it may also add a few extra random winner cells but it shouldn't do any harm.

[2015-10-31 00:31] floybix commented on #34
Thanks. As Matt says, let's whiteboard it at the meetup.

[2015-10-31 08:04] cogmission commented on #34
Now that I know I'm going to the meetup, I'm holding off on my comments too.

[2015-10-31 08:14] floybix commented on #34
(just to clear this up)...
groan. This is embarrassing. You are right @subutai and I find it disturbing that I had confused myself like that. After investigating why I saw that result from my test, I found a bug in Comportex where it was reinforcing only against learning cells, instead of all active cells (fixed in 3e6096b).

Anyway, it is still worthwhile for me to start on consistent cells after

[2015-10-31 09:24] cogmission commented on #34
@floybix I still don't understand how the previously trained "e" cell (the presynaptic cell for the previously trained "h" cell) gets found and has its segments reinforced? What am I missing, because it appears to me like a new presynaptic cell-to-segment relationship is going to be formed every time the same sequence is entered?

[2015-10-31 10:01] floybix commented on #34
@cogmission Let's whiteboard it at the meetup.

[2015-10-31 16:16] subutai commented on #34
@floybix No worries. This stuff is extremely tricky and very easy to miss. Even with bugs like this the overall system often still generally works ok, which makes it pretty hard to debug. Believe me we've had our share of bugs like this too. See you at the meetup!

[2015-12-07 13:05] floybix commented on #14
Done! And it only took me 11 months...

[2015-12-07 13:05] #14 closed

[2015-12-31 03:53] floybix commented on #21
Boosting causes representations to be unstable, and to the extent they are unstable they are meaningless. I usually turn it off. I wonder if instead we could use the mechanism that we have for distal synapses (selecting winner cells in a column), but applied to proximal synapses (selecting columns):

* Set a stimulus threshold of, say, 10 proximal synapses, that will indicate clearly recognised pa

[2015-12-31 19:02] mrcslws commented on #21
Thinking of a tall hierarchy, it's interesting to think about how this would change things. Starting with an untrained model, the first region would start activating. Then the second. Then the third. And so on.

Currently, with random initial connections, the entire hierarchy might light up on the first input. Every region will do proximal/distal/apical learning right from the start, shaping a pil

[2016-01-13 04:40] floybix commented on #21
Actually that's not obvious to me. I thought all layers should activate cells even if they don't have pre-existing proximal synapses - that is, even if those columns/cells are chosen randomly (and will then grow new synapses).

Maybe you mean, should we grow proximal synapses to bursting cells, or only to predicted cells? I'm leaning toward the former, given that first-level layers do not have pre

[2016-02-02 06:26] floybix commented on #21
My experiments so far have shown that it is fatal to grow new proximal synapses directly to active sources. It results in column sets taking over -- masking -- multiple inputs particularly if there are subset / overlap relationships between inputs. I guess a solution would be to enforce a unique sub-sampling of "potential synapses" on each column; i.e. some sort of local topographic radius, even i

[2016-04-20 01:02] #9 closed

[2016-05-01 13:21] floybix opened #41 "allow algorithm alternatives"
In Comportex the regions, layers etc are built to protocols, so technically everything can have alternative implementations. But it is awkward to provide a whole region/layer implementation when you just want to change a part of the core algorithms.

It would be useful to be able to specify alternative implementations (functions) for algorithm parts in "user" code. For example - spatial pooling, i

[2016-05-01 16:55] robjfr commented on #41
I've always thought it weird that in a functional implementation all your protocols refer to objects. I reconciled that by remembering that HTM is a model rooted in the object of the cortex. But the fit still seems problematic. We don't have a good idea what the functions of the cortex are. That is the problem.

Hint: I think the core function is collecting contexts together. That also avoids the

[2016-05-14 17:32] oxtopus opened #42 "Rainbow order is incorrect in logo"
Red should be on outside.

[2016-05-15 09:58] #42 closed

[2016-05-15 10:03] breznak commented on #42
I like this level of details! :+1:

[2016-05-15 10:11] floybix commented on #42
Well spotted, @oxtopus

[2016-08-10 15:52] kristianmandrup opened #43 "Please export public API for javascript interop"
I started exposing a JS public API here:

https://github.com/kristianmandrup/comportex/commit/275ecd78deb173336e3936d4e46528b4fce373f7

From the Readme "The main API is in the namespaces core, protocols and encoders"

But the link to the blog post supposed to explain them is a dead link :(

Please help out! Thanks :)

I mainly need some help using `clj->js` and `js->clj` for correct interop.

[2016-08-11 07:16] floybix commented on #43
Hi!

Heads-up: I'm hesitant to expose an API if it implies that the software is likely to be in any way stable or has any particular guarantees about its behaviour (hence v0.0.x). The whole thing is an experimental research piece. If you're doing this to experiment, that's fine, as long as you're aware of this context.

How many functions need to be exposed to js will depend on how deeply you want

[2016-08-11 07:22] floybix commented on #41
First cut of multimethods for spatial-pooling and temporal-pooling implemented in 2b90437

[2016-08-11 07:22] #41 closed

[2016-08-11 07:32] kristianmandrup commented on #43
Hi Felix,

Sounds great! Let's do it! Yeah, I couldn't really find good usage docs. Don't fuss over it not being "production ready". By the time any Open Source project reaches that stage it is often "obsolete" :P Software is fluid, we devs like to play... I think this is a great project with potential and would like to integrate it with some of my JS projects, currently using Aurelia (similar to

[2016-08-11 08:20] floybix commented on #43
An htm object is pretty complex -- you can see a dump of one at https://github.com/htm-community/comportex/wiki/A-sample-workflow-with-the-REPL -- probably best to treat it as a black box from the js side.

[2016-08-12 14:06] floybix commented on #43
I'm continuing your work on a js API here:
floybix/comportex@bdee3ce

Still need functions to retrieve the active and predicted cells.

[2016-08-12 14:16] floybix commented on #43
btw It's not quite as simple as wholesale converting everything with `js->clj` / `clj->js` because comportex objects like RegionNetwork, Region, Layer, SynapseGraph etc are tagged record types and that information would be lost in a (naive) conversion. Also it would be slow to run a deep conversion on everything when that is not needed. That's why I'm leaving some values returned by the js API as

[2016-08-17 07:09] kristianmandrup commented on #43
Good job :) Looking at it now.

Please add instructions on how to run the JS demo in `public/comportexjs.html`?
Also add descriptions/instructions for each demo in general (if not there?)

[code]

`lein cljsbuild once`

Then load up the `public/comportexjs.html` file in your browser :)

Also please update the `changelog`. I'd also suggest merging with master at some point as I think this JS API op

[2016-08-17 07:21] kristianmandrup commented on #43
I made a commit with the things I found missing here:
[comportex js-api](https://github.com/kristianmandrup/comportex/commit/3a257f001c6911405af0ad224c0879a6a93aaa83)

[2016-08-17 08:08] floybix commented on #43
Thanks, that's useful. I incorporated those changes and merged into master.

[2016-08-17 08:08] #43 closed

[2016-08-17 18:22] kristianmandrup opened #45 "Better docs please :)"
I've just been reading through:
http://floybix.github.io/2014/11/05/htm-protocols

Pretty hard to grasp from an "outsider". I'd suggest visualizing the architecture, with some kind of graph to show where each kind of Protocol goes in the IO flow... I'd love to help out if I could.
Or maybe just link to some more/better articles/videos on htm theory and how it fits in with data structures and info

[2016-08-19 01:49] floybix commented on #45
I agree the docs are woeful. I've been reluctant to put effort into docs since I still think of the software as in flux (and not useful in practice right now).

Speaking of which, I have recently starting planning to get rid of "regions" altogether. Just leaving layers, which could be assembled in different ways.

[2016-08-19 07:42] floybix commented on #45
If it helps, currently regions are basically containers for layers, but unless you are running exotic experiments you will have just one layer in a region, and it will be known as "layer-3" (neuroscience term).

[2016-08-19 07:43] kristianmandrup commented on #45
"I have recently starting planning to get rid of `regions` altogether. Just leaving layers, which could be assembled in different ways."

That sounds very reasonable on the face of it. Better with simpler constructs/models that can be used as generic building blocks I think :)

[2016-08-19 07:44] kristianmandrup commented on #45
Can I make a "brain" with layers of any depth I like using this model? I recall that the latest winners of Image recognition competition used more than a hundred layers...

[2016-08-19 07:47] floybix commented on #45
https://discourse.numenta.org/t/h-is-for-hierarchy-but-where-is-it/333

TLDR: this is a research topic, it is not useful for anything right now...

[2016-08-19 07:48] kristianmandrup commented on #45
"A _region_ is the main composable unit in this library. It represents a bank of neurons arranged in columns, responding to an array of feed-forward input bits, as well as distal connections to
itself and possibly other regions."

So removing regions would be a major change!! Would be nice with some docs on how to compose the brain architecture...

[2016-08-19 11:55] floybix commented on #24
Happily, [clojure.spec](http://clojure.org/guides/spec) came along. I'm starting work on using it to describe and test the code.

Starting in `cells.cljc`.

I already spec'd the layer parameters: https://github.com/floybix/comportex/commit/1c757726c26d415984702860e75dbb890ee82e63
At the moment they are all listed together and checked once. I think the checking should be at the implementation level

[2016-08-20 03:04] floybix opened #46 "composable layers only; get rid of regions"
I had thought regions might be a useful construct if there was some special interaction between layers in a region, like shared activation/inhibition of mini-columns.

But they've turned out to just get in the way, like OO cruft. I think it would be better work with flexible (composable) layers, and implement any special interactions on top.

Also - make it easy to have lateral feedback between la

[2016-08-20 07:28] floybix commented on #23
Need to wrap all the protocol methods so they can be spec'd (and for other reasons, it is good practice): https://groups.google.com/d/msg/clojure/f068WTgakpk/DpucRRYTBQAJ

So
* `protocols` namespace will no longer be user facing.

[2016-08-22 15:22] floybix commented on #24
Figuring out how to spec the generic functions in the `org.nfrac.comportex.protocols` namespace while leaving implementation details in their separate namespace. It can be done with `multispec`. As part of this it seemed more natural to replace the layer getters -- `active-columns, bursting-columns, active-cells`, etc -- with a single `layer-state` that returns a map. If anyone is watching please

[2016-09-05 02:34] #24 closed

[2016-09-21 15:15] #23 closed

[2016-09-21 15:15] #46 closed

[2018-03-16 12:22] tirkarthi opened #49 "Support for Clojure 1.9"
Clojure 1.9 is stable and the current core.async version causes issues with Clojure 1.9 . This is fixed at clojure/core.async@2f87bc7 . Consider upgrading to core.async-0.3.442 or the latest core.async to support Clojure 1.9.

Thanks.